@import '../util';

.one-column-gallery {
  padding: $mobile-gutter;
  background-color: black;
  min-height: 100%;
  box-sizing: border-box;

  @include respond-to(small) {
    padding: $desktop-gutter;
  }

  &__row {
    display: flex;
    justify-content: center;

    &:last-child {
      margin-bottom: 200px;

      @include respond-to(small) {
        margin-bottom: 220px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: $mobile-gutter * 2;

    @include respond-to(small) {
    }
  }

  &__image {
    object-fit: contain;
  }
}