@import '../util';

$image-bottom-padding: 110px;

.one-column-gallery {
  padding: $mobile-gutter;
  background-color: black;
  min-height: 100%;
  box-sizing: border-box;

  @include respond-to(small) {
    padding: $desktop-gutter;
  }

  &__row {
    display: flex;
    justify-content: center;

    &:last-child {
      margin-bottom: 200px;

      @include respond-to(small) {
        margin-bottom: 220px;
      }
    }
  }

  &__item {
    margin-bottom: $mobile-gutter;

    @include respond-to(small) {
      padding-bottom: $image-bottom-padding;
    }
  }

  &__image {
    object-fit: contain;
  }
}